@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url("1.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.alert {
  text-align: left;

  &__error,
  &__alert,
  &__danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
  }

  &__success,
  &__notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
  }
}

.flickr_pagination {
  text-align: center;
  padding: 4.8px;
  cursor: default;

  a,
  span,
  em {
    padding: 3.2px 8px;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
  }
  a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    border-color: #003366;
    background: #0063dc;
    color: white;
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 12.8px;
  }
  .previous_page,
  .next_page {
    border-width: 2px;
  }
  .previous_page {
    margin-right: 16px;
  }
  .next_page {
    margin-left: 16px;
  }
}

#br_top {
  display: none;
}

#log_out {
  float: right;
}

@media all and (max-width: 1000px) {
  #log_out {
    float: none;
  }
}

@media all and (max-width: 785px) {
  #example_td {
    display: none;
  }
}

@media all and (max-width: 600px) {
  #br_top {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}
@media all and (max-width: 500px) {
  #user_td {
    display: none;
  }
}
